{% extends "base.html" %}
{% block content %}

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="stitle stitle-other">
          <span>About</span>
        </div>
        <div class="wrap-txt">
          <p>
            SaveDouyinVid是一个抖音无水印视频下载器，是一个免费的在线无水印视频下载工具。如果你来过这个网站，很可能你已经知道抖音。如果没有，那就让我
            简要解释你。抖音是一个短视频交友电商平台，用户可以在这里发布他们的小视频或者直播。目前,抖音下载的视频都带有水印。
          </p>
          <p>
            虽然抖音下载的视频都含有水印，但<strong>SaveDouyinVid</strong>来了
            作为一个非常方便的工具，你只需复制粘贴任何包含视频的抖音URL链接 然后点击“下载”按钮。这个应用程序提取视频和音频 URL
            链接在MP4和MP3流文件格式及其大小。这样，你就可以保存下载的文件
            视频到您的电脑和手机播放和分享，以及。
          </p>
          <p>
            我们不断对SaveDouyinVid进行改进，使用户在使用时获得更好的体验
            工具。但有时由于他们的团队在抖音网站上做了一些技术上的改变，你可能会得到一些
            下载时的问题。我们倾向于尽快解决这些问题/错误，我们也要求您
            写一封电子邮件通知
            <a href="mailto:chen_shiyangniao@163.com">chen_shiyangnihao@163.com</a>
          </p>
          <strong> 免责声明 : </strong><br>
          <p>
            我们不会在(或从)我们的服务器上托管或播放任何有版权的内容。用户直接从他们的CDN服务器下载内容。本网站与抖音无关。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}