{% extends "base.html" %}

{% block content %}

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="stitle stitle-other">
          <span>隐私政策</span>
        </div>
        <div class="text-wrap">
          <p>
            您通过使用https://www.chenshiyang.com/dytk表示您同意遵守本页面所列的所有隐私政策:
          </p>
          <ol>
            <li>
              <p>我们收集什么资料?
                我们不会收集任何个人信息。
              </p>
            </li>
            <li>
              <p>我们是否向外界披露任何信息?<br>
                我们不会向外界出售、交易或转让您的个人身份信息。这不包括协助我们运营我们的网站、开展我们的业务或为您提供服务的受信任的第三方，只要这些第三方同意对本信息保密。当我们认为为了遵守法律、执行我们的网站政策或保护我们或他人的权利、财产或安全而适当时，我们也可能发布您的信息。然而，非个人身份的访问者信息可能被提供给其他方用于市场营销、广告或其他用途。
              </p>
            </li>
            <li>
              <p>第三方链接<br>
                我们偶尔会酌情在我们的网站上包括或提供第三方产品或服务。这些第三方网站有独立的隐私政策。因此，我们对这些链接网站的内容和活动不承担任何责任。尽管如此，我们努力保护我们的网站的完整性，并欢迎任何关于这些网站的反馈。
              </p>
            </li>
            <li>
              <p>更改我们的隐私政策<br>
                如果我们决定更改我们的隐私政策，我们将在这个页面上发布这些更改。
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}