{% extends "base.html" %}

{% block content %}
    <div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="stitle stitle-other">
          <span>使用条款</span>
        </div>
        <div class="text-wrap">
          <p>
            通过使用https://www.chenshiyang.com/dytk，您表示您同意遵守所有的条款和条件设置
              本页继续:
          </p>
          <ol>
            <li>
              <p>
                https://www.chenshiyang.com/dytk可能会不时更改条款。当这些改变发生时，
                https://www.chenshiyang.com/dytk将在此发布修改后的条款。你理解并同意如果你使用
                在适用条款发生变更之日之后，您的使用即构成接受
                的更新条款。
              </p>
            </li>
            <li>
              <p>
                这项服务与抖音毫无关联。
              </p>
            </li>
            <li>
              <p>
                使用本服务，用户同意不下载受版权保护的资料。
              </p>
            </li>
            <li>
              <p>
                使用此服务，用户同意不复制或分发下载的材料 这项服务。本服务仅供个人使用。
              </p>
            </li>
            <li>
              <p>
                如果您是任何资料的版权所有人，并希望阻止任何视频的下载，请通过我们的电子邮件联系我们，你可以在主页上找到。我们将阻止这些下载 视频。
              </p>
            </li>
            <li>
              <p>
                所有使用本服务的风险均由用户自行承担，https://www.chenshiyang.com/dytk不承担风险 负责下载的文件。
              </p>
            </li>
            <li>
              <p>
                此服务不能用于开发第三方网站。被发现使用此服务的站点远程将被禁止从我们的服务。
              </p>
            </li>
            <li>
              <p>
                SaveDouyinVid所有内容版权归https://www.chenshiyang.com所有。
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}